.background {
  viewport-fill: black;
}

text {
  font-family: Fabrikat-Black;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  fill: white;
}

#timeBox {
  font-size: 120;
  y: 40%+40;
}

#timeBoxShadow {
  font-size: 120;
  x: 50%+3;
  y: 40%+43;
}

#wordBox {
  font-size: 30;
  y: 60%+40;
}

#wordBoxShadow {
  font-size: 30;
  x: 50%+2;
  y: 60%+42;
}
